autom4te.cache/*
/guile-xcb.info
/README-in.txt
/build/config.status
/build/*
/texi/*
/web/*
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache/
/config.log
/config.status
/configure
/pre-inst-env
*.go
*~
.#*
*.tar.gz
*.tar.gz.asc
/test-env
*.log
*.trs
/build-aux/install-sh
/build-aux/missing
/build-aux/texinfo.tex

